@charset "UTF-8";

html, body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #C8B88B;
}

main{
    background-color: #C8B88B;
    height: 90vh;
}

main > h1{
    margin: 0px;
    padding-top: 50px;
    font-size: 3em;
    text-align: center;
    color: white;
}

section{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    width: 70%;
    height: 45%;
    border-radius: 20px;
    box-shadow: 2px 2px rgba(0, 0, 0, 0.315);

    transform: translate(-50%, -70%);
}

section > div#frase{
    text-align: center;
    padding: 30px;
}

section > div#img{
    background-image: url(#);
    text-align: center;
    padding: 10px;
}

footer{
    margin-top: -233px;
}

footer > p{
    text-align: center;
    font-weight: bold;
}

footer > p > a{
    text-decoration: none;
    color: white;
}